<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<title>Welcome</title>

<script type="text/javascript">
var user = sessionStorage.getItem("user")
if( user ===  null){
	let username = prompt("Enter Your Name", "Guest")
	while( username ===  null || username == ""){
	username = prompt("Enter Your Name", "Guest")

	} 
	fetch("/welcome/createUser", {
		method: "POST",
		headers: {
			"Content-Type": "application/json",
		},
		body: username
	}).then(response => response.json()).then(user => sessionStorage.setItem("user", JSON.stringify(user)))
	
	} else {
		user = JSON.parse(sessionStorage.getItem("user"))
	} 
</script>
</head>
<body>
<h2>Join A Channel</h2>

<div th:each="channel : ${channels}">
		<a th:href="@{/channels/{channelId}(channelId=${channel.channelId})}"
		   th:text="${channel.channelName}"></a>
</div>
<hr>
<form action="/welcome/createChannel" method="post" >
				<div>
				Create new Channel: <input type="text" th:field="${channel.channelName}" />
			</div>
			<div>
				<input type="submit" value="Create Channel" />
			</div>
</form>
</body>
</html>